* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

div#questao2 > p {
    padding: 15px;
    text-align: justify;
}

span.negrito {
    font-weight: bold;
}

main {
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
}

main > p {
    padding: 5px;
    padding-left: 15px;
}

p.texto1 {
    background-color: #d6b641;
}

main > form {
    padding: 5px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#labels > label {
    display: block;
}

#inputs > input {
    display: block;
}



label {
    font-weight: bold;
}



/* main form p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
} */

/* input#ilogin{
    margin-left: 104px;
}

input#isenha {
    margin-left: 97px;
} 

select#istatus {
    margin-left: 98px;
}

input#itec {
    margin-left: 113px;
}

input#idata {
    margin-left: 50px;
}

input#iconvidado {
    margin-left: 105px;
}

p.login {
    margin: 5px 0px;
}

p.senha {
    margin: 5px 0px;
}

p.status {
    margin: 5px 0px;
}

p.tipo {
    margin: 5px 0px;
}

p.data {
    margin: 5px 0px;
}

p.perfil {
    margin: 5px 0px;
}

p.obs {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
