* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw; 
    height: 100vh;
}

header > h1 {
    text-align: center;
    padding: 30px;
}

main {
    max-width: 550px;
    margin: auto;
}

main > h1 {
    padding-bottom: 15px;
}

main > form > p {
    margin-bottom: 10px;
}

p.obs {
    font-size: 15px;
}

#inome, #iemail,#isite, #icomentario {
    width: 370px;
}